#edit {
    position: absolute;
    background: rgba(81, 81, 81, 0.25);
    width: 100%;
    z-index: 1100;
    display: none; /*показати/закрити блок редагування*/
}

.bbedit {
    position: relative;
}

.bedit {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
    background: red;
}