.header {
    width: 100%;
    height: 45px;
    background: #616161;
    border-bottom: 1px solid #553C00;

}
.header span{
    font-size: 30px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    margin-left: 45px;
}
.header img{
   position: absolute;
}