.content {
    /*width: 100%;*/
    min-height: 800px;
    background-color: #23719F;
    overflow-y: scroll;
    width: 200px;
}

.bbutton-slider {
    height: 100%;
    width: 30px;
    background-color: #C7C7C7;
    border-right: 1px solid #9f9f9f;
}

.bbutton-slider, .task {
    float: left;
}

#button-slider > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#button-slider > ul > li {
    margin-top: 15px;
    height: 100px;
}

.el-button-slider {
    border: 1px solid #616161;
    border-radius: 5px;
    margin: 0 auto;
    height: 100%;
    width: 20px;
    position: relative;
    overflow: hidden;
}

.el-button-slider:hover, .button-slider-text[selected="true"]  {
    background-color: #e2b81d;
    box-shadow: 1px 1px #aeaeae;
}

.button-slider-text {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    width: 100px;
    height: 20px;
    line-height: 20px;
    left: -200%;
    top: 40%;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

#btasks {
    position: relative;
    background-color: #F4EEE9;
    overflow: auto;
    height: 100%;
}