.btype-task {
    width: 190px;
    /*background-color: rgba(198, 131, 68, 0.60);*/
    margin: 5px;
    border-radius: 5px;


    float: left;
    padding-left: 20px;
}
#btasks>button{
    font-size: 36px;
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 99;
    right: 20px;
    top: 0;
    background-color: grey;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 0;
    border-radius: 25px;
}
h2{
    text-align: center;
    font-family: Buxton_Sketch;
    font-size: 24pt;
    color: #ffffff;
    border-bottom: 3px solid white;


}
.type-name {
    width: 100%;
    height: 30px;
    line-height: 30px;

}

.tasks > .ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bbutton-edit
{
    position: absolute;
    bottom: 0;
    right: 10px;


}
#btasks{
    background: url(board.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: auto;
    height: 100%;
    margin-left: 30px;
    min-width: 1220px;
    padding-right: 10px;
    padding-left: 10px;

}
.bbutton-edit a{
    text-decoration: none;
    color: black;
    font-family: Buxton_Sketch;
    font-size: 20px;
}

.tasks > .ul > .li {
    margin: 5px auto;
    padding: 4px;
    min-height: 200px;
    background: url('sticker.png')no-repeat;
    background-size: 100% 100%;

    position: relative;

    border-bottom: 1px solid #b0b0b0;
}

.bbutton-edit button{
    font-size: 16px;
    position: absolute;
    top:-183px;
    background-color: darkgrey;
    border-radius: 30px;
    left: 7px;
}
.tasks > .ul > .li:hover {
    background: url('sticker2.png')no-repeat;
    background-size: 100% 100%;
}

.type-name > h2 {
    margin-left: 5px;
}
.addWindow{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.5);
    z-index: 100;
}
.addForm{
    background-color: lightgray;
    border-radius: 30px;
    border: 2px solid grey;
    position: fixed;
    height: 500px;
    width: 500px;
    z-index: 105;
    right: 50%;
    margin-right: -250px;
    top: 50%;
    margin-top:-250px;
    text-align: center;
}
.addForm>h2{
    font-family: Buxton_Sketch;
    font-size: 24pt;
}
.addForm span{
    font-family: Buxton_Sketch;
    font-size: 14pt;
}
.addForm textarea {
    resize: none;
    margin-top: 25px;
    margin-bottom: 25px;
}
.addForm select{
    width: 200px;
    margin-bottom: 25px;
}
.addForm p{
    max-width: 500px;
}
.addForm button{
    margin: 50px;
    width: 60px;
    height: 40px;
    background-color: grey;
    border-radius: 15px;
    font-family: Buxton_Sketch;
    font-size: 20px;
}
.date {
    position: absolute;
    margin-left: -180px;
    left: 100%;
    top: 5px;
    height: 15px;
    width: 137px;
    font-size: 8pt;
}

.text-task {
    cursor: pointer;
    word-wrap: break-word;
    text-align: center;
    margin-top: 70px;
}

.text-task:hover {
    background-color: rgba(126, 244, 146, 0.51);
}

.objectId, .bbutton-edit {
    display: none;
}